@font-face {
	font-family: 'PFHandbookPro';
	src: url('../fonts/PFHandbookPro-Medium.woff2') format('woff2'),
	url('../fonts/PFHandbookPro-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circle';
	src: url('../fonts/Circe-Light.woff2') format('woff2'),
	url('../fonts/Circe-Light.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.woff2') format('woff2'),
	url('../fonts/Circe-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
	url('../fonts/Circe-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}
